<main>
  <div class = "w-full debug-green bg-[#444B5B] px-12 py-6">
    <div class = "debug-red">
      <div class = "debug-green flex flex-row justify-between">
        <img ngSrc = "assets/icons/unnname-logo.svg" width="70" height="50" alt="Phieu Linh Unnamed Logo">
        <div class = "flex flex-row items-center">
          <span class = "text-white font-light debug-green">
            Follow us on:
          </span>
          <i class="fa-brands fa-facebook"></i>
        </div>
      </div>

      <div class = "text-white"
          style="font-size: 14px; line-height: 24px">
        <span>
          © The Phieu Linh Project, est.2018.
        </span>
        <br>
        <span>
          An Nguyen, Tien Tran, and PL24 Team.
        </span>
      </div>
    </div>
  </div>
</main>
