<main>
  <div class="w-full debug-green bg-[#444B5B] px-12 py-6">
    <div class="border-b border-gray-950 flex flex-row justify-between h-[130px]">
      <img ngSrc="assets/icons/unnname-logo.svg" width="90" height="50" alt="Phieu Linh Unnamed Logo">
      <div class="flex flex-row gap-6 max-h-[24px] ">
          <span class="text-white font-light">
            Follow us on:
          </span>
        <i class="fa-brands fa-facebook-f fa-lg"
           style="color: white">
        </i>
        <i class="fa-brands fa-instagram fa-xl mt-[8px]"
           style="color: white">
        </i>
      </div>
    </div>

    <div class="text-white mt-6 font-light"
         style="font-size: 13px; line-height: 24px">
        <span>
          © The Phieu Linh Project, est. 2018
        </span>
      <br>
      <span>
          An Nguyen, Tien Tran, and PL24 Team
        </span>
    </div>
  </div>
</main>
