<main>
  <section>
    <div class="flex flex-row items-center justify-between shadow-md z-20">
      <img ngSrc="assets/icons/named-logo.svg" height="102" width="250" alt="The Phieu Linh Project Logo">
      <div class= " flex flex-row justify-end font-medium gap-8">
        <div
          class="flex flex-row space-x-6 items-end debug-green "
          style="font-size: 16px; letter-spacing: -0.015rem"
          *ngFor="let button of navButtons; let i = index">
            <button class = "uppercase px-1">
              {{ button.label }}
            </button>
        </div>

        <div class= "flex flex-row gap-6">
          <button
            class = " uppercase px-8 py-2 bg-[#444B5B] text-white rounded-lg"
            style = "font-size: 16px; letter-spacing: -0.015rem"
          >
            Chung Tay
          </button>
          <img
            ngSrc="{{getFlagUrl()}}"
            alt="Language Flag"
            height="24"
            width="36"
            (click)="toggleLanguage()"
            class="mr-5 pt-[5px]"
            [pTooltip]="customTooltip"
            tooltipPosition="bottom"
            tooltipStyleClass="custom-tooltip"
            showDelay="100"
            hideDelay="100"
          />

          <ng-template #customTooltip>
            <div class="flex flex-col items-center bg-[#444B5B]">
              <span class="text-white">Change Language</span>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </section>
</main>
