:host {
  position: sticky; /* Makes the navbar stick to the viewport */
  top:0; /* Ensures it sticks to the top */
  z-index: 50;      /* Ensures it stays above other elements */
  background-color: white; /* Ensures background remains visible */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for visibility */
}

.scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px; /* Height of the progress bar */
  background: #78A4A3;
  z-index: 100; /* Ensures it stays above other elements */
}

