<main>
  <section>
    <div class="flex flex-row items-center justify-between shadow-md">
      <img ngSrc="assets/icons/named-logo.svg" height="102" width="250" alt="The Phieu Linh Project Logo">
      <div class= " flex flex-row justify-end font-medium gap-10 debug-red">
        <div
          class = "flex flex-row space-x-8 items-end "
          style = "font-size: 16px; letter-spacing: -0.015rem">
          <button class="uppercase">
            Về Phiêu Linh
          </button>
          <button class= "uppercase">
            Chương Trình Hoạt Động
          </button>
          <button class= "uppercase">
            Tài Trợ
          </button>
          <button class= "uppercase">
            Tin Tức
          </button>
          <button class= "uppercase">
            Liên Hệ
          </button>
        </div>

        <div class= "flex flex-row gap-6">
          <button
            class = " uppercase px-8 py-2 bg-[#444B5B] text-white rounded-lg"
            style = "font-size: 16px; letter-spacing: -0.015rem">
            Chung Tay
          </button>
          <img
            ngSrc="{{getFlagUrl()}}"
            alt="Language Flag"
            height="24"
            width="36"
            (click)="toggleLanguage()"
            class="mr-5"
          />
        </div>
      </div>
    </div>
  </section>
</main>
