<section>
  <div class="flex flex-col items-center justify-center bg-gray-50 ">
    <div class="flex flex-col debug-red gap-8 px-4 py-10 w-full xl:py-28 2xl:py-36">
      <div class="flex flex-col items-center">
        <div
          class="flex w-fit items-center justify-center whitespace-nowrap rounded-full px-4 py-2 text-center border border-solid border-[#99999] bg-white text-grey-mid">
        <span
          class=" m-0 flex flex-row items-center font-semibold uppercase not-italic leading-[100%] tracking-[0.08em]"
          style="font-size: 17px; color: #555555">
          Tài Trợ

        </span>
        </div>
      </div>

      <div class = "flex flex-col items-center debug-yellow">
        <span
          style = "font-size: 24px; color: black"
        >
          Why Sponsor Us?
        </span>
      </div>
    </div>
  </div>

</section>
