<section>
  <div class="mt-2 flex flex-col items-center justify-center bg-white ">
    <div class="flex flex-col gap-8 px-6 py-10 w-[90%] xl:py-28 2xl:py-36">


      <app-about-us></app-about-us>

      <app-title
        [itemsAlignment]="'items-center'"
        [borderColor]="'#999999'"
        [backgroundColor]="'#FFFFFF'"
        [textColor]="'#555555'"
        [fontSize]="'18px'"
        [label]="' Định Hướng'">
      </app-title>

      <app-strategy></app-strategy>

    </div>
  </div>
</section>

<section>
  <div class="flex flex-col items-center justify-center bg-white ">
    <div class="flex flex-col gap-8 px-4 py-10 w-[90%] xl:py-28 2xl:py-36">

      <app-culture></app-culture>


      <app-milestones></app-milestones>


      <app-members></app-members>

    </div>
  </div>
</section>

<app-programs></app-programs>
<app-sponsor></app-sponsor>

<app-events></app-events>
<app-contacts></app-contacts>

