<section>
  <div class="flex flex-col items-center debug-yellow">
    <div
      class="flex w-fit items-center justify-center whitespace-nowrap rounded-full px-4 py-2 text-center border border-solid border-[#99999] bg-white text-grey-mid">
        <span
          class=" m-0 flex flex-row items-center font-semibold uppercase not-italic leading-[100%] tracking-[0.08em]"
          style="font-size: 17px; color: #555555">
          Dấu Ấn
        </span>
    </div>
  </div>

  <div class="flex flex-col flex-grow gap-14 px-2">
    <!-- First Row -->
    <div class="flex flex-row justify-between">
      <div
        *ngFor="let item of rowOneData"
        class="flex flex-col items-center bg-white shadow-md rounded-lg p-6 w-[300px] border-r-4"
        [ngStyle]="{ borderColor: item.color }"
      >
        <h2
          class="text-3xl font-bold mb-2"
          [ngStyle]="{ color: item.color }"
        >
          {{ item.number }}
        </h2>
        <p class="text-center text-gray-600">{{ item.description }}</p>
      </div>
    </div>

    <!-- Second Row -->
    <div class="flex flex-row justify-between">
      <div
        *ngFor="let item of rowTwoData"
        class="flex flex-col items-center bg-white shadow-md rounded-lg p-6 w-[300px] border-r-4"
        [ngStyle]="{ borderColor: item.color }"
      >
        <h2
          class="text-3xl font-bold mb-2"
          [ngStyle]="{ color: item.color }"
        >
          {{ item.number }}
        </h2>
        <p class="text-center text-gray-600">{{ item.description }}</p>
      </div>
    </div>
  </div>
</section>
