<section>
  <app-title
    [itemsAlignment]="'items-end'"
    [borderColor]="'#999999'"
    [backgroundColor]="'#FFFFFF'"
    [textColor]="'#555555'"
    [fontSize]="'18px'"
    [label]="' Dấu Ấn'">
  </app-title>

  <div class="flex flex-col flex-grow gap-14 mt-8 px-2">
    <!-- First Row -->
    <div class="flex flex-row justify-between">
      <div
        *ngFor="let item of rowOneData"
        class="flex flex-col items-center bg-white shadow-md rounded-lg p-6 w-[300px] border-r-4"
        [ngStyle]="{ borderColor: item.color }"
      >
        <h2
          class="text-3xl font-bold mb-2"
          [ngStyle]="{ color: item.color }"
        >
          {{ item.number }}
        </h2>
        <p class="text-center text-gray-600">{{ item.description }}</p>
      </div>
    </div>

    <!-- Second Row -->
    <div class="flex flex-row justify-between">
      <div
        *ngFor="let item of rowTwoData"
        class="flex flex-col items-center bg-white shadow-md rounded-lg p-6 w-[300px] border-r-4"
        [ngStyle]="{ borderColor: item.color }"
      >
        <h2
          class="text-3xl font-bold mb-2"
          [ngStyle]="{ color: item.color }"
        >
          {{ item.number }}
        </h2>
        <p class="text-center text-gray-600">{{ item.description }}</p>
      </div>
    </div>
  </div>
</section>
