<div>
  <app-title
    [itemsAlignment]="'items-start'"
    [borderColor]="'#999999'"
    [backgroundColor]="'#FFFFFF'"
    [textColor]="'#555555'"
    [fontSize]="'18px'"
    [label]="'Thành Viên'">
  </app-title>

  <!-- Group Navigation -->
  <div class="flex justify-center space-x-3 my-6">
    <button
      *ngFor="let group of groups; let i = index"
      (click)="selectGroup(group)"
      [class.text-p-teal]="selectedGroup === group"
      class="uppercase font-medium px-4 py-2 rounded transition-all duration-300 hover:text-orange-400"
    >
      {{ group }}
    </button>
  </div>

  <!-- Fixed 6x3 Grid -->
  <div class="relative w-full">
    <div class="grid grid-cols-6 gap-4">
      <!-- Display Visible Cards -->
      <div
        *ngFor="let card of visibleCards; let i = index"
        class="relative h-32 group rounded-lg overflow-hidden shadow-md hover:scale-105 transition-transform duration-300 bg-gray-100 flex items-center justify-center"
      >
        <!-- Card Content -->
        <div class="text-center">
          <div class="text-xl font-bold text-gray-700">
            {{ card.name }}
          </div>
          <div class="text-sm text-gray-500">{{ card.group }}</div>
        </div>
      </div>
    </div>

    <!-- Pagination Buttons -->
    <div class="flex justify-between items-center mt-6">
      <button
        (click)="prevPage()"
        [disabled]="filteredCards.length <= cardsPerPage"
        class="capitalize hover:text-p-orange px-4 py-2  text-gray-700 rounded"
      >
        <i class=" pi pi-chevron-left"></i> Quay Lại
      </button>

      <button
        (click)="nextPage()"
        [disabled]="filteredCards.length <= cardsPerPage"
        class="capitalize hover:text-p-orange px-4 py-2  text-gray-700 rounded"
      >
        Tiếp Theo <i class="pi pi-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
